body {
    font-family: Arial;
    background-color: #1e1e2f; 
    color: white;
    text-align: center;
}

.quiz-container {
    margin-top: 100px;
}

.btn {
    display: block;
    width: 200px;
    margin: 10px auto;
    padding: 10px;
    border: none;
    background: #444;
    color: white;
    cursor: pointer;
}

.btn:hover {
    background: #666;
}

button {
    padding: 10px;
    margin-top: 10px;

}
#nextBtn {
    display: block;
    margin: 20px auto;  
    padding: 10px 20px;
    font-size: 16px;
}